<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="section-container">
    <div class="col-1">

      <div class="dashboard-container flex v-center">
        <div>
          <button
            (click)="addContent()"
            mat-raised-button
            color="primary"
            class="add-section"
            [disabled]="isLoading"
          >
            Create test <mat-icon>{{isCreateContentOpen ? 'remove_circle' : 'add'}}</mat-icon>
          </button>
        </div>
        <div class="ml-1 flex">
          <button [disabled]="isLoading"  matTooltip="Shuffle tests" [matTooltipShowDelay]="toolTipDelay" mat-mini-fab (click)="shuffleTests()">
            <mat-icon>shuffle</mat-icon>
          </button>
        </div>
        <div class="ml-1 flex">
          <button class="save-btn" [disabled]="!isChanges"  matTooltip="Save all changes" [matTooltipShowDelay]="toolTipDelay"  mat-mini-fab (click)="isSaveChangesBlockOpen = !isSaveChangesBlockOpen">
            <mat-icon >save</mat-icon>
          </button>
        </div>
        <div class="ml-auto flex">
          <button [disabled]="isLoading" (click)="deleteAllContent()"  matTooltip="Remove all tests" [matTooltipShowDelay]="toolTipDelay" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        
      </div>

      <div [@fade] class="alert-changes" *ngIf="isSaveChangesBlockOpen">
        <div class="flex h-end height-15px">
          <button (click)="isSaveChangesBlockOpen = false" matTooltip="Close" [matTooltipShowDelay]="toolTipDelay" mat-icon-button color="warn">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="text-center flex content-center v-center">
          <p><strong>Save changes on this page?</strong></p>
        </div>
        
        <div class="flex content-center mb-1">
          <div>
            <button  (click)="saveChanges()" mat-stroked-button class="c-green">
              Yes
            </button>
          </div>
          <div class="ml-1">
            <button
            (click)="removeChanges()"
            mat-stroked-button
            color="warn"
            >
            Remove all changes
            </button>
          </div>
        </div>
      </div>

      <app-create-tests [@fade] *ngIf="isCreateContentOpen" (onCreateTests)="onCreateTests($event)"></app-create-tests>

      <div *ngIf="!dataWithChanges.length" class="flex content-center text-center v-center" style="height: 200px; width: 100%;">
        <h2>No content on this page</h2>
      </div>

      <mat-stepper *ngIf="dataWithChanges.length" orientation="vertical">
        <mat-step *ngFor="let test of dataWithChanges; let i = index">
          <ng-template  matStepLabel>
            <div class="flex v-center">
              <div>
                Тест {{ i + 1 }}.
              </div>
              <quill-view-html [content]="test.taskTitle.slice(0, 40)"></quill-view-html>...
            </div>
          </ng-template>

          <div class="flex h-end">
            <button (click)="createTest(test.id)" class="edit-btn mini-btn" matTooltip="Edit test" [matTooltipShowDelay]="toolTipDelay" mat-icon-button color="accent">
              <mat-icon class="mini-icon">{{currentEditingTestId === test.id ? 'close' : 'edit'}}</mat-icon>
            </button>
            <button (click)="deleteTest(test.id)" class="delete-btn mini-btn" matTooltip="Delete test" [matTooltipShowDelay]="toolTipDelay" mat-icon-button color="warn">
              <mat-icon class="mini-icon">delete</mat-icon>
            </button>
          </div>

          <app-create-tests [@fade] *ngIf="currentEditingTestId === test.id" [test]="test" (onCreateTests)="onCreateTests($event)"></app-create-tests>

          <div *ngIf="currentEditingTestId !== test.id">
            <quill-view-html [content]="test.taskTitle"></quill-view-html>

            <pre
            *ngIf="test.taskCode"
            ><code [highlight]="test.taskCode" [languages]="['javascript']" [lineNumbers]="true"></code></pre>
            <div>
              <mat-radio-group class="radio-group" [(ngModel)]="taskAnswer">
                <mat-radio-button
                  class="radio-button"
                  *ngFor="let anwser of test.answers"
                  [value]="anwser"
                >
                <quill-view-html [content]="anwser"></quill-view-html>
                </mat-radio-button>
                <p class="msg" [ngClass]="{'wrong-answer': msg === 'Невірно!'}" *ngIf="test === currentTest">{{ msg }}</p>
                <div class="btn-container">
                  <button
                    mat-stroked-button
                    color="primary"
                    (click)="checkboxHandler(test)"
                  >
                    Підтвердити відповідь
                  </button>
                  <button *ngIf="i !== testsData.length - 1" mat-button matStepperNext>
                    Далі
                  </button>
                </div>
              </mat-radio-group>
            </div>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  
    <div class="col-2" *ngIf="testsStatistic">
      <div  class="col-2-container">
        <p>Всього тестів: {{ testsStatistic.totalTests }}</p>
        <p>Правильних відповідей: {{ testsStatistic.correctAnswers }}</p>
        <p>Неправильних відвовідей: {{ testsStatistic.wrongAnswers }}</p>
      </div>
    </div>
  </div>