<div class="mt-2" *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<section>
  <div class="btn-container">
    <mat-button-toggle-group [disabled]="isLoading" [(ngModel)]="inputMode" aria-label="Font Style">
      <mat-button-toggle value="comment" (click)="hideInput('comment')"
        >Додати коментарій
        <mat-icon>{{
          isCreateCommentBlock
            ? "keyboard_double_arrow_up"
            : "keyboard_double_arrow_down"
        }}</mat-icon></mat-button-toggle
      >
      <mat-button-toggle value="search" (click)="hideInput('search')"
        >Пошук коментарів
        <mat-icon>{{
          isSearchCommentBlock
            ? "keyboard_double_arrow_up"
            : "keyboard_double_arrow_down"
        }}</mat-icon></mat-button-toggle
      >
    </mat-button-toggle-group>

    <div class="save-btn-container">
      <button [disabled]="!isChanges"  matTooltip="Save all changes" [matTooltipShowDelay]="toolTipDelay"  mat-mini-fab (click)="inputMode === 'save' ? inputMode = '' : inputMode = 'save'">
        <mat-icon >save</mat-icon>
      </button>
    </div>
  </div>

  <div class="input-container" *ngIf="inputMode">

    <div [@fade] class="alert-changes" *ngIf="inputMode === 'save'">
      <div class="flex h-end height-15px">
        <button (click)="inputMode = ''" matTooltip="Close" [matTooltipShowDelay]="toolTipDelay" mat-icon-button color="warn">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="text-center flex content-center v-center">
        <p><strong>Save changes on this page?</strong></p>
      </div>
      
      <div class="flex content-center mb-1">
        <div>
          <button  (click)="saveChanges()" mat-stroked-button class="c-green">
            Yes
          </button>
        </div>
        <div class="ml-1">
          <button
          (click)="removeChanges()"
          mat-stroked-button
          color="warn"
          >
          Remove all changes
          </button>
        </div>
      </div>
    </div>

    <mat-form-field [@fade] appearance="legacy" *ngIf="inputMode === 'search'">
      <mat-label>Пошук коментарів за їх контентом або заголовком</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input
        matInput
        placeholder="Наприклад: two way binding"
        [(ngModel)]="searchValue"
      />
    </mat-form-field>

    <form [@fade] [formGroup]="form" (ngSubmit)="submit()">
      <div class="content" *ngIf="inputMode === 'comment'">
        <mat-form-field appearance="legacy">
          <mat-label>Заголовок або короткий опис</mat-label>
          <mat-icon matSuffix>title</mat-icon>
          <input
            type="text"
            formControlName="title"
            matInput
            placeholder="Наприклад: Чому для training_set використовується fit_transform() ?"
          />
          <mat-error
            *ngIf="form.get('title')?.invalid && form.get('title')?.touched"
          >
            <small *ngIf="form.get('title')?.errors?.required"
              >Поле для заголовку не може бути порожнім</small
            >
          </mat-error>
          <mat-error *ngIf="form.get('title')?.errors?.minlength">
            Довжина заголовку повинна бути
            {{ form.get("title")?.errors?.minlength?.requiredLength }} симфолів.
            Зараз введено
            {{ form.get("title")?.errors?.minlength?.actualLength }}
          </mat-error>
        </mat-form-field>

        <div class="form-control">
          <label>Дитальний опис (необов'язково)</label>
          <quill-editor
            formControlName="content"
            placeholder="Напишіть свій коментар тут"
          ></quill-editor>
          <mat-error
            *ngIf="form.get('content')?.invalid && form.get('content')?.touched"
          >
            <small *ngIf="form.get('content')?.errors?.required"
              >Поле дитального опису не може бути порожнім</small
            >
          </mat-error>
        </div>
        <div class="btn-container">
          <button mat-raised-button type="submit" [disabled]="form.invalid">
            Опублікувати
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<section>
  <div *ngFor="let comment of commentsWithChanges | filterComments: searchValue">
    <mat-card class="example-card">

      <div class="flex h-end">
        <button
          (click)="deleteComment(comment.id)"
          class="delete-btn mini-btn"
          matTooltip="Delete test"
          [matTooltipShowDelay]="toolTipDelay"
          mat-icon-button
          color="warn"
          [disabled]="isLoading"
        >
          <mat-icon class="mini-icon">delete</mat-icon>
        </button>
      </div>

      <mat-card-header>
        <div
          mat-card-avatar
          class="example-header-image"
          style="background-image: url('{{ comment.userData.img }}');"
        ></div>
        <mat-card-subtitle>{{ comment.userData.nickName }}</mat-card-subtitle>
        <mat-card-title>{{ comment.title }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <quill-view-html [content]="comment.content"></quill-view-html>
      </mat-card-content>
      <mat-card-actions>
        <div class="btn-container flex">
          <div class="flex">
            <div class="btn-section">
              <button
                mat-mini-fab
                aria-label="Example icon button with a home icon"
              >
                <mat-icon>thumb_up</mat-icon>
              </button>
              <span class="statistic">{{ comment.likes }}</span>
            </div>
            <div class="btn-section">
              <button
                mat-mini-fab
                aria-label="Example icon button with a home icon"
              >
                <mat-icon>thumb_down</mat-icon>
              </button>
              <span class="statistic">{{ comment.dislikes }}</span>
            </div>
          </div>

          <div>
            <button mat-stroked-button>Відповісти</button>
            <button mat-button>
              <span>Поскаржитись</span><mat-icon>flag</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <div
    class="empty-comments flex mt-2"
    *ngIf="!(commentsWithChanges | filterComments: searchValue).length && !isLoading"
  >
    <strong *ngIf="searchValue; else noCommentsLeft">За запитом <span class="highlight">{{ searchValue }}</span> не знайдено
      жодного коментаря</strong>

    <ng-template #noCommentsLeft>
      <strong>No comments</strong>
    </ng-template>
    
  </div>

  <div class="flex content-center mt-2" *ngIf="!commentsWithChanges.length && isLoading">
    <strong>Please wait. Loading...</strong>
  </div>
  
</section>
