mat-form-field {
    display: block;
  }
  
  section {
      // padding: 20px;
  }
  
  .input-container {
      margin-top: 2rem;
      padding-bottom: 2rem;
  }
  
  .content mat-form-field {
      margin-bottom: 1rem;
  }
  
  .example-header-image {
      background-size: cover;
  }
  
  mat-card {
      margin-top: 1rem;
  }
  
  .btn-container {
      margin-top: 1rem;
      justify-content: space-between;
  }
  
  .statistic {
      display: inline;
      margin: 0 1rem;
      font-weight: 800;
      font-size: 1rem;
  }
  
  .btn-section button {
      background: white;
      mat-icon {
          font-size: 1rem;
      }
      max-width: 2rem;
      max-height: 2rem;
  }
  
  .flex {
      display: flex;
  }
  
  .empty-comments {
      justify-content: center;
  }

  .save-btn-container {
    display: inline-block;    
    margin-left: 2rem;
}