<mat-toolbar class="app-navbar" color="primary">
  <span>LearnCode</span>
  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    Turorials <mat-icon>menu_book</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngFor="let tutorialName of tutorialNameList" (click)="navigate(tutorialName)" mat-menu-item>{{tutorialName}}</button>
  </mat-menu>

  <button mat-flat-button color="accent">
    Login <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
