<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="section-container">
  <div class="flex column max-width">
    <div class="dashboard-container flex v-center">
      <div>
        <button
          (click)="isCreateContentOpen = !isCreateContentOpen"
          mat-raised-button
          color="primary"
          class="add-section"
          [disabled]="isLoading"
        >
          Create task
          <mat-icon>{{
            isCreateContentOpen ? "remove_circle" : "add"
          }}</mat-icon>
        </button>
      </div>
      <div class="ml-1 flex">
        <button
          [disabled]="isLoading"
          matTooltip="Shuffle tests"
          [matTooltipShowDelay]="toolTipDelay"
          mat-mini-fab
          (click)="shuffleTests()"
        >
          <mat-icon>shuffle</mat-icon>
        </button>
      </div>
      <div class="ml-1 flex">
        <button
          class="save-btn"
          [disabled]="!isChanges"
          matTooltip="Save all changes"
          [matTooltipShowDelay]="toolTipDelay"
          mat-mini-fab
          (click)="isSaveChangesBlockOpen = !isSaveChangesBlockOpen"
        >
          <mat-icon>save</mat-icon>
        </button>
      </div>
      <div class="ml-auto flex">
        <button
          [disabled]="isLoading"
          (click)="deleteAllContent()"
          matTooltip="Remove all tests"
          [matTooltipShowDelay]="toolTipDelay"
          mat-icon-button
          color="warn"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <app-save-confirmation
      [@fade]
      *ngIf="isSaveChangesBlockOpen"
      (onAction)="saveConfirmation($event)"
    ></app-save-confirmation>

    <app-create-tasks
      [@fade]
      *ngIf="isCreateContentOpen"
      (onCreateTask)="onCreateTask($event)"
    ></app-create-tasks>

    <div *ngIf="!dataWithChanges.length" class="flex content-center text-center v-center" style="height: 200px; width: 100%;">
      <h2>No content on this page</h2>
    </div>

    <mat-stepper *ngIf="dataWithChanges.length" orientation="vertical">
      <mat-step *ngFor="let task of dataWithChanges; let i = index">
        <ng-template matStepLabel>
          <!-- Завдання {{ i + 1 }}. {{ task.taskText.slice(0, 30) }}... -->
          <div class="flex v-center">
            <div>Тест {{ i + 1 }}.</div>
            <quill-view-html
              [content]="task.taskText.slice(0, 40)"
            ></quill-view-html
            >...
            <div class="ml-2">
              <button
                (click)="deleteTask(task.id)"
                class="delete-btn mini-btn"
                matTooltip="Delete task"
                [matTooltipShowDelay]="toolTipDelay"
                mat-icon-button
                color="warn"
              >
                <mat-icon class="mini-icon">delete</mat-icon>
              </button>
            </div>
          </div>
        </ng-template>
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Завдання">
            <div>
              <app-practice-task [task]="task"></app-practice-task>
            </div>

            <div class="btn-container">
              <button
                *ngIf="i !== dataWithChanges.length - 1"
                mat-button
                matStepperNext
              >
                Далі
              </button>
            </div>
          </mat-tab>
          <mat-tab label="Відповідь">
            <app-practice-answer [task]="task"></app-practice-answer>

            <div class="btn-container">
              <button
                *ngIf="i !== dataWithChanges.length - 1"
                mat-button
                matStepperNext
              >
                Далі
              </button>
            </div>
          </mat-tab>
          <mat-tab label="Коментарі">
            <app-comments-block [taskId]="task.id"></app-comments-block>
          </mat-tab>
        </mat-tab-group>
      </mat-step>
    </mat-stepper>
  </div>
</div>
