<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Завдання">
    <app-practice-task></app-practice-task>

    <!-- <div class="btn-container">
      <button
        mat-stroked-button
        color="primary"
        (click)="checkCode(task.taskCode, task.id)"
      >
        Перевірити відповідь
      </button>
      <button *ngIf="i !== practiceData.length - 1" mat-button matStepperNext>
        Далі
      </button>
    </div> -->
  </mat-tab>
  <mat-tab label="Відповідь">
    <app-practice-answer></app-practice-answer>
  </mat-tab>
  <mat-tab label="Коментарі">
    <!-- <app-comments-block [taskId]="task.id"></app-comments-block> -->
  </mat-tab>
</mat-tab-group>
